<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style ></style>
    <script src="https://unpkg.com/vue@3"></script>

<div id="app">
{{ message }}
<header class="header_wrapper">
    <Header />
</header>
<section class="main">
<login-form />
</section>
<footer class="footer_wrapper">
<Footer />
</footer>
</div>

<script>
  let app = Vue.createApp({
    data: function() {
      return {
        message: 'Hello Vue!',

      }
    },
    methods: {

    }
  })
  app.component('header', {
    template: `
    
    <div class="header__wrapper__col">
        <a href="#">
            <img src="./icons/icon-left-font.jpeg" />
        </a>
    </div>

`,
  data() {
      return {
          title: 'Header'
      }
  }});
  app.component('login-form', {
      template: `
       <form class="form_wrapper" method="post" action="../views/Home.vue">
    <div class="form_wrapper__field email__field">
      <label for="email">Votre adresse mail</label>
      <input type="text" id="email" placeholder="Votre adresse mail" />
      <p v-if="fieldError == true">{{ errorMessage }}</p>
    </div>
    <div class="form_wrapper__field password__field">
      <label for="password">Votre mot de passe</label>
      <input type="password" id="password" placeholder="Votre mot de passe" />
      <p v-if="fieldError == true">{{ errorMessage }}</p>
    </div>
    <div class="form_wrapper__button submit__button">
      <input type="submit" id="submit" value="C'est parti !"  />
    </div>
  </form>
      `,
      data() {
          return {
              title: 'Login Form'
          }
      }
  })
    app.component('footer', {
    template: `

        <ul>
            <li>© 2022</li>
            <li>Groupomania</li>
            <li>Tous droits réservés</li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Mentions légales</a></li>
        </ul> 

`,
  data() {
      return {
          title: 'Footer'
      }
  }});
  app.mount('#app')
</script>
</body>
</html>
