/* color palette for Groupomania */
:root {
  --blanc: #ffffff;
  --noir: #101118;
  --rouge: #ff0000;
}
/* ===============
*
*     GENERAL
*
* ================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
.home {
  padding: 2rem;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--rouge);
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* ===============
*
*     HEADER
*
* ================*/
header {
  background: var(--blanc);
  box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.16);
  padding: 15px
}
@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
  }
  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
  .logo {
    margin: 0 2rem 0 0;
  }
}
header img {
  width: 200px;
}
@media all and (max-width: 1024px) {
  header img {
    width: 150px
  }
}
/* ===============
*
*     FOOTER
*
* ================*/
footer.footer_wrapper {
  background: var(--noir);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.footer_wrapper ul li {
  display: inline-block;
  width: auto;
  list-style-type: none;
  margin: 10px;
  color: var(--blanc);
  font-size: 14px;
}
@media all and (max-width: 769px) {
  footer.footer_wrapper ul li {
    display: block;
    text-align: center;
  }
}
@media all and (min-width: 769px) {
  footer.footer_wrapper ul li::before {
    content: '-';
    display: inline-block;
    padding-right: 15px;
  }
  footer.footer_wrapper ul li:first-of-type::before {
    content: '';
  }
}
footer.footer_wrapper ul li a,
footer.footer_wrapper ul li a:active {
  color: var(--blanc);
  text-decoration: none;
}
footer.footer_wrapper ul li a:hover,
footer.footer_wrapper ul li a:focus,
footer.footer_wrapper ul li a:active {
  text-decoration: underline;
}
/* ===============
*
*     FORMULAIRE
*
* ================*/
.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 500px;
  padding: 2rem;
  background: var(--blanc);
  box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.16);
}
@media all and (max-width: 768px) {
  .form_wrapper {
    width: 300px
  }
}
.form_wrapper .form_wrapper__field {
  margin: 10px auto;
}
.form_wrapper .form_wrapper__field label {
  display: none;
}
.form_wrapper .form_wrapper__field input {
  border: none;
  border-bottom: 1px solid var(--noir);
  background: transparent;
  text-align: center;
  padding: 10px;
  transition: all .2s linear;
}
.form_wrapper .form_wrapper__field input:hover,
.form_wrapper .form_wrapper__field input:focus,
.form_wrapper .form_wrapper__field input:active {
  border-color: var(--rouge);
}
.form_wrapper .form_wrapper__field p {
  font-size: 12px;
  color: var(--rouge);
  font-style: italic;
}